body {
  padding: 0;
  margin: 0;
}

nav div {
  padding: 15px 10px;
}
nav h2 {
  display: inline;
  margin-right: 50px;
  font-size: 36px;
}

nav div a {
  text-decoration: none;
  margin-right: 10px;
  font-size: 18px;
}

.navbar:hover {
  color: black;
}

nav div a:nth-child(3) {
  color: green;
}

nav div a:nth-child(4) {
  color: orange;
}

nav div a:last-child {
  color: red;
}

.hero-img {
  width: 100%;
  height: 700px;
}

.container {
  padding: 0 15px;
}

.container h2 {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.fasilitas-item div {
  width: 500px;
  display: inline-block;
  margin-right: 50px;
}

.fasilitas-item div h3 {
  text-align: center;
}

.fasilitas-item div p {
  text-indent: 10px;
  text-align: justify;
}

.fasilitas-item img {
  width: 400px;
  height: 200px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.9);
}

.location-items .box {
  display: inline-block;
  width: 400px;
  text-align: center;
  background: #ccc;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.9);
  margin-right: 20px;
}

form .input {
  width: 500px;
  margin-left: 30px;
}
form .input-container textarea {
  margin-left: 16px;
  width: 500px;
}

form .input-container {
  margin-bottom: 15px;
}

.btn button {
  width: 60px;
  height: 30px;
  font-size: 14px;
  margin-right: 20px;
}

footer {
  margin-top: 25px;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  background: #3771c8;
}
