@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Shantell Sans", cursive;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 65px;
  background: steelblue;
  color: white;
  top: 0;
  position: sticky;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 30%;
}

nav ul li {
  transition: 0.4s;
}

nav ul li:hover {
  border-bottom: 1px solid #fff;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.hero-image {
  background-image: url("./school-building.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* backdrop-filter: contrast(0.8); */
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero-image .text-container {
  color: #fff;
  width: 15%;
  left: 10%;
  position: absolute;
}

.hero-image .text-container h1 {
  line-height: 45px;
}

.hero-image .text-container button {
  padding: 7px 15px;
  border-radius: 5px;
  border: none;
  background: aqua;
  margin-top: 10px;
  color: white;
}

.hero-image .text-container button:hover {
  background: turquoise;
  cursor: pointer;
}

.about {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.about h1 {
  margin-bottom: 20px;
  text-align: center;
}
.about .box-container {
  display: flex;
  justify-content: space-evenly;
}

.about .box-container .item-box {
  width: 30%;
  background-color: #fff;
  padding: 15px 10px;
}

.about .box-container .item-box h3 {
  margin-bottom: 15px;
}

.footer {
  padding: 20px 10px;
  margin-top: 50px;
  background: steelblue;
}

.footer .item-container {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  color: white;
}

.footer .item-container .item h4 {
  margin-bottom: 15px;
}

.footer .item-container .item:last-of-type {
  color: yellow;
  margin-top: 15px;
}
