@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

nav {
  padding: 0 30px;
  height: 70px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #888;
  background: white;
  z-index: 2000;
}

nav .logo {
  display: flex;
  flex: 2;
}

nav .logo img {
  width: 60px;
  margin-right: 20px;
}

nav .logo ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-evenly;
  width: 50%;
}

nav .logo ul li a {
  text-decoration: none;
  color: #444;
}

nav .logo ul li a:hover {
  color: #888;
  border-bottom: 1px solid #444;
}

nav .auth {
  flex: 1;
  text-align: right;
}

nav .auth button {
  padding: 6px 14px;
  border: none;
  border-radius: 5px;
}

nav .auth button:hover {
  cursor: pointer;
}

nav .auth button:first-child {
  margin-right: 20px;
  background: #fff;
}

nav .auth button:first-child:hover {
  border: 1px solid #3e464e;
}

nav .auth button:last-child {
  background: #3e464e;
  color: #fff;
}

nav .auth button:last-child:hover {
  background-color: #22272c;
}

.container {
  width: 80%;
  margin: 50px auto;
}

.hero {
  height: calc(100vh - 71px);
  position: relative;
  background-image: url(assets/bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero .content {
  position: absolute;
  width: 50%;
  height: 35%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  text-align: center;
}

.hero .content h1 {
  text-transform: capitalize;
}

.hero .content h1,
.hero .content p {
  margin-bottom: 12px;
}

.hero .content p {
  color: #777;
}

.hero .content input {
  width: 100%;
  padding: 12px;
  margin-top: 30px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.hero .content input:focus {
  outline: none;
}

.pricing {
  margin: 50px 0;
  padding: 10px;
}

.pricing h2 {
  text-align: center;
  margin-bottom: 20px;
}

.pricing .card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.pricing .card-wrapper .card {
  width: 300px;
  padding: 50px 20px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid #3e464e;
  background: #fff;
  transition: 0.5s;
}

.pricing .card-wrapper .card:hover {
  transform: scale(1.3);
  position: relative;
  z-index: 2;
}

.pricing .card-wrapper .card h3,
.pricing .card-wrapper .card p {
  margin-bottom: 10px;
}

.pricing .card-wrapper .card p {
  color: #777;
}

.pricing .card-wrapper .card button {
  padding: 7px 14px;
  border: none;
  border-radius: 5px;
  width: 40%;
  background: #3e464e;
  color: #fff;
}

.our-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.our-team .our-team-card {
  display: flex;
  background-color: #f6f6f6;
  padding: 20px;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);
  transition: 0.8s;
}

.our-team .our-team-card:hover {
  transform: scale(1.1);
}

.our-team .our-team-card img {
  width: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.our-team .our-team-card h3 {
  font-size: 20px;
  margin-bottom: 3px;
}

.our-team .our-team-card .job {
  color: #aaa;
  margin-bottom: 15px;
}

.vision {
  background: #eee;
  padding: 30px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vision div {
  width: 70%;
}

.vision p {
  color: #777;
  margin-top: 15px;
}

footer {
  margin-top: 50px;
  background: #737474;
  padding: 30px;
  color: #eee;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer .list h3 {
  margin-bottom: 10px;
}

footer ul li {
  list-style: none;
  color: #bbb;
}

@media screen and (max-width: 1000px) {
  .our-team .our-team-card {
    width: 100%;
  }
}
