* {
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

section button {
  background-color: royalblue;
  padding: 7px 15px;
  border-radius: 5px;
  border: none;
  margin: 20px 0;
  font-size: 20px;
  transition: 0.6;
  color: white;
}

section button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 80%;
}

th {
  border: 1px solid black;
  padding: 8px;
}

td {
  border: 1px solid black;
  padding: 8px;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  background-color: #f1f1f1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.5s;
}

.modal-item {
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.label-container {
  width: 100%;
  display: flex;
  /* gap: 30px; */
  margin: 15px 0;
  justify-content: space-between;
}

.label-container label {
  margin-right: 15px;
}

.btn-action button {
  font-size: 16px;
}

.btn-action button:first-child {
  background: transparent;
  border: none;
  color: royalblue;
}

.active {
  display: flex;
}
